; Install only package versions released at least 2 weeks ago.
; This is for security reasons, to not install the very, very latest versions
; of packages, in order to try and avoid poisoned packages.
min-release-age=14

; Similar to pnpm's `blockExoticSubdeps`. Here we only allow git and URL ("remote")
; dependencies if we specifiy in the root `package.json` -- which is the one we
; control.
allow-git=root
allow-remote=root
